STRING_SESSION1 = "BQDSGXAAa-SGU9tyPoBLQmQNZWdXXUVrDGyOcgqV0_yuU_yXgGzRlHJXySWFPqOYMnjQc-bjlLgeloZg-D-nhh8lhwAoKWoClVij0NtoVQwM2vvPr3Np-gy3h21Oe2FMyfJgZDQTL2BDdIZgVOnOjOeqqvgNRS3enWcelLDADP1Ww-tIDYivNf20Rva6g2XHQGClfSmkiCmrxkdKCm68OrVQ_8jcmtvnsJPP1L_6BhMo_0mKL2N5TBQkZw37F9pnHcpl2ZIyXz3QOY86d6MU307sDNhJ9noLpv3v666h7omdWbPgpNZafhAvTtDf6pGahwhErrALEdhKt_zEwnUg2rDvLdRvhwAAAAH8Ij3DAA"
SUDO_USERS = "8525069763"
OWNER_ID = "8525069763"
BOT_TOKEN = "8547005276:AAH8VceiN6-DD7sJrRbRINJlajnpU7zMA5o"
MONGO_URL = "mongodb+srv://Idoganz:Idoganz12@cluster0.jvbdmoj.mongodb.net/?appName=Cluster0"
